:root {
  /*date/button colors: 
    E0BBE4
  */
  --bkg-color: #FFFFFF;
  --play-color: #003C6C;
  --date-color: #FDC700;
  --searchbar-ht: 12px;
  --button-ht: 12px;
}

@font-face {
  font-family: Custom;
  src: url(Subjectivity-Black.otf);
}

/*
cool backgrond color hexs: ;
#5CDB95
#fffaf0 (floral white)

*/

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: var(--bkg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

a:link {
  color: var(--date-color);
}

/*
OG title aesthetics
h1 {
  /*font-size: 80px;
  color: #EDF5E1;
  }*/

h1 {
  /*
  Nice color saves: 
    f5f5f5 <-(og)
    FBEEDF
  */

  top: 50%; 
  right: 50%;
  /*text-transform: uppercase;*/
  font-family: verdana;
  font-size: 3em;
  margin-bottom: 30px;
  font-weight: 700;
  color: hsl(180, 59%, 51%);
  color: var(--date-color);
}

h1 span{

  top: 50%; 
  right: 50%;
  font-family: verdana;
  font-size: 1em;
  font-weight: 700;
  color: var(--play-color);
}

h2 {
  /*
  Nice color saves: 
    f5f5f5 <-(og)
    FBEEDF
  */

  top: 50%; 
  right: 50%;
  /*text-transform: uppercase;*/
  font-family: verdana;
  font-size: 5em;
  font-weight: 700;
  color: hsl(180, 59%, 51%);
  color: var(--date-color);
}


div#description{
  /*adjusts "share music..." blurb*/
  right: 2px;
  margin-bottom: 80px;
  color: var(--play-color);
  position: relative;
  font-size: 20px;
}

p {
  font-size: 12px;
  text-align: left;
  padding-bottom: 0;
}

p span{

  top: 50%; 
  right: 50%;
  font-family: verdana;
  font-size: 1em;
  font-weight: 700;
  color: var(--play-color);
}


.search-form {
  display: flex;
  flex-direction: column;
}


input[type='text'],
textarea {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  outline: none;
  border: 1px solid #dddddd;
}


input[type='text']:focus,
textarea:focus {
  box-shadow: 0 0 5px hsl(180, 59%, 51%);
  padding-top: 16px;
  padding-bottom: 16px;
  border: 1px solid hsl(180, 59%, 51%);
}
